.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    position:relative;
  }
  
  .dropdown:hover {
      cursor: pointer;
    }
  
  .dropdown-wrapper {
      position: relative;
      margin-bottom: 20px;
    }
  
  .dropdown-label {
      display: block;
      margin-bottom: 10px;
    }
  
  .dropdown-options {
      border: 1px solid lightcoral;
      border-radius: 5px;
      border-top: none;
      padding: 5px 0 0 0;
      display: none;
      position: absolute;
      background: #fff;
      z-index: 10;
      width: 100%;
      max-height:200px;
      overflow:hidden;
      overflow-x: hidden;
      overflow-y: auto;
      overflow : -moz-scrollbars-vertical;
    }
  .dropdown-options.active {
        display: block;
        position:absolute;
      }
    
  
  .dropdown-option {
      padding: 5px 10px;
      color: black;
    }
  .dropdown-option:hover {
        cursor: pointer;
        background: lightcoral;
        color: #fff;
      }
   