
.title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

header {
    background-color: lightcoral;
    display:flex;
    flex-direction: column;
    position:relative;
    border-radius: 0 0 15px 15px;
}

.link {
    position:absolute;
    right:28%;
    bottom:5px;
}

.link  a{
    color:white;   
}

.link a:hover {
    text-decoration: underline;
}